/*
STYLESHEET FOR JAVAFXGRAPH VISUALIZATION
*/

.graph {
    -fx-background-color: #F4FFFB;    
}

.vertexClass {
    -fx-stroke-width: 2;
    -fx-stroke: #000000;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #FFFFFF;
}

.vertexPackage {
    -fx-stroke-width: 2;
    -fx-stroke: #000000;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #FF9900;
    /* the following was unused */
    /*-fx-background-image: url('../assets/package.png');*/
}

.vertexInterface {
    -fx-stroke-width: 2;
    -fx-stroke: #000000;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #B1DFF7;
}
.vertex-label {
    -fx-font: bold 8pt "sans-serif";
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;  
    -fx-stroke-dash-array: 2 5 2 5; /* remove for clean edges */  
    -fx-fill: transparent; /*important for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 1;
}

.edgeNonDashed {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;
    -fx-fill: transparent; /*important for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 1;
}

.edge-label {
    -fx-font: normal 4pt "sans-serif";
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;  
    -fx-opacity: 1;
}

.arrowClosed {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;
    -fx-opacity: 1;
    -fx-fill: #FFFFFF;
}

/* Custom vertex. You should revert any unwanted styling in the default element, 
   style, since custom styles will be appended to the default style */
.myVertex {
    -fx-stroke-width: 5;
    -fx-stroke: green;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: yellowgreen;
}